.ban {
  width: 100%;
  height: 300px;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

/* li:last-child {
  border-right: none;
} */

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #023b26;
}

.active {
  background-color: #04aa6d;
}

.half {
  width: 50%;
}

.halfPic {
  width: 600px;
}

.rightFloat {
  float: right;
  margin-right: 20%;
  margin-top: 200px;
}
